@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light grey */
  }
  
  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Dark grey */
  }
  
  /* Hover effect on scrollbar */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Black */
  }
  